:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}
body {
  background: #ccc;
  margin: 30px 50px;
  line-height: 1.4;
}
.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  position: relative;
  transition: transform 0.3s ease;
}
.btn::after,
.btn::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  background: var(--dark);
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}
.btn:hover {
  transform: translate(-12px, -12px);
}
.btn:hover::after {
  transform: translate(6px, 6px);
}
.btn:hover::before {
  transform: translate(12px, 12px);
}

img {
  max-width: 100%;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.main-nav a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
  transition: all 0.3s ease-in-out;
}
.main-nav a:hover {
  background: var(--dark);
  color: var(--light);
  transform: scale(1.1);
  border-radius: 100%;
}

/* --Top Container-- */
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "showCase showCase top-box-a"
    "showCase showCase top-box-b ";
}
.showcase {
  grid-area: showCase;
  min-height: 400px;
  background-image: url("img/normal_5.jpg");
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: var(--shadow);
}
.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--light);
}
.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
}
/* Top Box */
.top-box {
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}
.top-box .price {
  font-size: 2.5rem;
}
.top-box-a {
  grid-area: top-box-a;
}
.top-box-b {
  grid-area: top-box-b;
}

/* --Boxes-- */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
  transition: all 0.3s ease-in-out;
}
.box:hover {
  transform: scale(1.1);
  border-radius: 100%;
}

/* --Info-- */
.info {
  background: var(--primary);
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
}
.info .btn {
  display: flex;
}

/* --Portfolio-- */
.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
  width: 100%;
  box-shadow: var(--shadow);
}

/* --Footer-- */
footer {
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

/* Media Queries */
@media screen and (max-width: 700px) {
  .top-container {
    grid-template-areas:
      "showCase showCase"
      "top-box-a top-box-b";
  }
  .showcase h1 {
    font-size: 2.5rem;
  }

  .info {
    grid-template-columns: 1fr;
  }
  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  .top-container {
    grid-template-areas:
      "showCase"
      "top-box-a"
      "top-box-b";
  }
  .main-nav ul {
    grid-template-columns: 1fr;
  }
}
